<% if (title) { %>
<h1 id="login-title"><%= title %></h1>
<%  } else {
res.redirect('/')
 } %>

 <%- messages() %>
 
<form id="login" name="login">
    <label class="form-label">Email</label>
    <input required class="form-input" id="account_email" name="account_email" type="email">
    <label class="form-label">Password</label>
    <input required class="form-input" id="account_password" type="password" name="account_password">
    <!-- <span id="passwordButton">Show Password</span> -->
    <input  type="submit" value="login" id="submit">
    <a id="register" href="/account/register">No account? sing up</a>
</form>

<!-- <script src="/public/js/script.js"></script> -->
