<header id="top-header">
    <span id="site-title-containter" class="siteName">
      <a id="site-title" href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <%- welcomeBasicLink %>
      <%- loginLink %> 
    </div>
  </header>

  