<nav class="navigation">
    <ul class="navigation-ul">
        <li class="navigation-li">Home</li>
        <li class="navigation-li">Custom</li>
        <li class="navigation-li">Sedan</li>
        <li class="navigation-li">SUV</li>
        <li class="navigation-li">Truck</li>
    </ul>
</nav>