<div id="main-container">
  <%- messages() %>
  <section class="main-section" id="car">
    <h1 class="section-title" id="car-title">Welcome to CSE Motors!</h1>
    
    <div id="car-image-container">
      <img id="car-image" src="images/vehicles/delorean.jpg" alt="delorean">
      <div id="car-card">
      <h2 id="car-card-title">DMC Delorean</h2>
      <ul id="car-card-ul">
        <li class="car-card-li">3 Cup holders</li>
        <li class="car-card-li">Superman doors</li>
        <li class="car-card-li">Fuzzy dice!</li>
      </ul>
      <button id="car-card-button" >Own Today</button>
    </div>
    </div>
  </section>
  <section class="main-section" id="reviews">
    <h1 class="section-title" id="reviews-title">DMC Delorean Reviews</h1>
    <ul id="reviews-ul">
      <li class="reviews-li">"So fast it's almost like traveling in time." (4/5)</li>
      <li class="reviews-li">"Coolest ride on the road." (4/5)</li>
      <li class="reviews-li">"I'm feeling McFly! (5/5)"</li>
      <li class="reviews-li">"The most futuristic ride of our day." (4.5/5)</li>
      <li class="reviews-li">"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>
  <section class="main-section" id="upgrades">
    <h1 class="section-title" id="upgrades-title">Delorean Upgrades</h1>
    <div id="upgrades-card-container">
    <div class="upgrades-card">
      <div class="upgrades-card-div"><img class="upgrades-card-img" src="images/upgrades/flux-cap.png" alt="Flux capacitor"></div>
      <a class="upgrades-card-a">Flux Capacitor</a>
    </div>
    <div class="upgrades-card">
      <div class="upgrades-card-div"><img class="upgrades-card-img" src="images/upgrades/flame.jpg" alt="Flame decals"></div>
      <a class="upgrades-card-a">Flame Decals</a>
    </div>
    <div class="upgrades-card"> 
      <div class="upgrades-card-div"><img class="upgrades-card-img" src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
      <a class="upgrades-card-a">Bumper Stickers</a></div>
    <div class="upgrades-card">
      <div class="upgrades-card-div"><img class="upgrades-card-img" src="images/upgrades/hub-cap.jpg" alt="Hub caps"></div>
      <a class="upgrades-card-a">Hub Caps</a>
    </div>
    </div>
  </section>
</div>