<% if (title) { %>
<h1 id="management-title"><%= title %></h1>
<%  } else {
res.redirect('/')
 } %>

 <%- messages() %>

 <% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div id="management-container">
    <a class="management-a" href="addnew/classification">Add a new Classification</a>
    <a class="management-a" href="addnew/inventory">Add a new Vehicle</a>
</div>